body {
    width: 390px;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fotoLogo {
    margin-left: 20px;
    display: flex;
}
.fotoLogo h2 {
    display: none;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formReg {
    width: 335px;
}
.form {
    margin-top: 20px;
}
.formtext-1, .form {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.form input, .form button {
    width: 95%;
}
.form input {
    border: 1px solid rgba(145, 158, 171, 0.3);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 5px;
}
.form button {
    background: #3258FB;
    border-radius: 8px;
    padding: 11px 22px;
    color: white;
    border: 0;
}
.form button:hover {
    box-shadow: 0px 8px 16px rgba(50, 88, 251, 0.24);
}
.formtext-2 {
    font-size: 12px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
}
.lasttext {
    color: #919EAB;
    margin-bottom: 20px;
}
.lasttext-2 a {
    color: #3258FB;
    font-weight: bold;
}
.lasttext a {
    color: #3258FB;
    text-decoration: underline;
}
.hdFoto {
    display: none;
}
.hdTextRight {
    display: none;
}
.inp {
    display: none;
}
@media screen and (min-width: 1400px) {
    body {
        width: 100%;
    }
    .main {
        display: none;
    }
    .fotoLogo h2 {
        display: block;
    }
    .fotoLogo img {
        height: 30px;
        align-self: center;
        margin-right: 5px;
    }
    .left-logo {
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    .hdFoto {
        display: block;
        margin-top: 50%;
    }
    .hdFoto img {
        width: 100%;
    }
    .hdTextRight {
        display: block;
        margin-left: 10px;
    }
    .hdTextRight a {
        color: #3258FB;
        font-weight: bold;
    }
    .mainHD {
        width: 80%;
        display: flex;
        margin-top: 7%;
        align-self: end;
    }
    .largeHD {
        display: flex;
        width: 100%;
    }
    .contentText {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-right: 20px;
    }
    .right-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lasttext-2 {
        display: none;
    }
    .formtext-1, .form, .formReg {
       width: 80%;
    }
    .inp {
        display: block;
        width: 97%;
        display: flex;
        justify-content: space-between;
    }
    .inp-2 {
        display: none;
    }
    .text {
        width: 50%;
    }
    .formtext-2 {
        width: 75%;
    }
}